body {
  background-color: cadetblue;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

ul {
  padding-left: 3.5rem;
}

li {
  font-size: 14px;
}
.mainCard {
  display: block;
  margin: 0 auto;
  float: none;
  background-color: rgb(255, 255, 255, 0.7);
  padding: 5%;
  border-radius: 15px;
  max-width: 508px;
  max-height: 690px;
  margin-bottom: 5px;
  margin-top: 15%;
}

.searchBar {
  margin-top: 10px;
}

.currentWeatherImage {
  margin-top: 15px;
}

.currentDesc {
  display: inline-block;
  text-align: center;
  padding-top: 6px;
  text-transform: capitalize;
}
.currentWeather {
  margin: 20px;
}

.currentTempDegree {
  font-size: 20px;
  position: relative;
  top: -30px;
}

.currentTemp {
  font-size: 65px;
  font-weight: bolder;
  display: inline;
  text-align: left;
}
.currentOther {
  display: inline;
  text-align: right;
}

.col-2 {
  display: block;
  align-items: center;
  padding: 0px;
}

.col-6 {
  padding: 0px;
}

#my-location {
  background-color: white;
}

.forecastDay {
  font-weight: bold;
  font-size: small;
  color: midnightblue;
}
.forecastImage {
  width: 80%;
}

.forecastTemp {
  font-size: 12px;
}

.OtherWeather {
  list-style: none;
  text-align: left;
}

.currentTempBlock {
  margin-bottom: 0px;
}

#forecast-max {
  color: slategrey;
}

#footer {
  font-size: small;
}
