body {
  background-color: cadetblue;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

.mainCard {
  display: block;
  margin: 15%;
  background-color: rgb(255, 255, 255, 0.7);
  padding: 5%;
  border-radius: 15px;
  max-width: 650px;
}

.searchBar {
  margin-top: 10px;
}

.currentWeatherImage {
  margin-top: 15px;
}

.currentDesc {
  display: inline-block;
  text-align: center;
  padding-top: 10px;
}
.currentWeather {
  margin: 20px;
}

.currentTemp {
  font-size: 65px;
  font-weight: bolder;
  display: inline;
}
.currentOther {
  display: inline;
  text-align: right;
}

.col-2 {
  display: block;
  align-items: center;
  padding: 0px;
}

.col-6 {
  padding: 0px;
}

#my-location {
  background-color: white;
}

.forecastDay {
  font-weight: bold;
}
.forecastImage {
  width: 80%;
}

.forecastTemp {
  font-size: 10px;
}
